@import "general.css";
/* Using a string */

#quotes {
    /* border: 1px solid brown; */
    flex-grow: 1;
    min-height: 65vh;
    align-self: center;
    font-family: "Vanilla Caramel", sans-serif;
    color: var(--accent-color2);
    margin-bottom: 150px;
    margin-top: 70px;
}

#quotes h2 {
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
}

#quotes .slider {
    position: relative;
    height: 250px;
    width: 70vw;
    word-wrap: break-word;
    border: 1px solid var(--accent-color1);
    border-radius: 30px;
    box-shadow: 10px 10px 5px var(--accent-color1);
}

#quotes .slider .slide {
    display: none;
    padding: 80px;
    text-align: center;
}

#quotes .slider .previous,
#quotes .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--accent-color1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#quotes .slider .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

#quotes .slider .previous:hover,
#quotes .slider .next:hover {
    background-color: var(--accent-color2);
    border-radius: 50%;
    color: var(--primary-color);
}

#quotes .dots {
    text-align: center;
    padding: 20px;
}

#quotes .dots .dotSign {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--accent-color1);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#quotes .dots .active,
#quotes .dots .dotSign:hover {
    background-color: var(--accent-color2);
}

#quotes .slider .slide q {
    font-style: italic;
}

#quotes .slider .slide .auth {
    color: var(--accent-color2);
    background-color: var(--second-color);
    width: 30vw;
    padding: 5px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}